<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beastie-down40.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,74},{73,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{73,70}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>beastie-punch-down40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{73,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{73,70}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>beastie-punch-up40.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{75,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,70}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>beastie-up40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,70}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>flyingtux40.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,145},{65,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{65,68}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>hexley40.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{73,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{73,72}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>pengu40.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,76},{67,70}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{67,70}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite_.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14d922882b9b7b502fbb6b56ba4d1e3a:1/1$</string>
            <key>textureFileName</key>
            <string>sprite_.png</string>
        </dict>
    </dict>
</plist>
